.App {
  font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  text-align: left;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Aligns items to the left and right */
  align-items: center; /* Centers items vertically */
  background-color: white;
}

h1 {
  color: #333;
  margin: 0;
}

h2 {
  color: #444;
  margin-top: 30px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 15px;
}

strong {
  color: #0066cc;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-style: italic;
  transform: scale(2);
  
}

.logos {
  display: flex; /* Use flexbox for the logos */
  gap: 10px; /* Space between logos */
  filter: brightness(120%);
}

.logo {
  height: 100px; /* Set a consistent height for the logos */
}

body {
  background-color: white; /* Sets the background color to coral */
}

author {
  transform: scale(0.6);
  position: absolute;
  right: 0;
}